/*
 * Custom ACF Admin Styles
 */

// Glyphicons font path
$icon-font-path: "../fonts/";
$image-path:     "../";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "common/variables";

.acf-postbox, .acf-flexible-content .layout {
    background: #fcfcfc;
    border: solid 1px #666;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    h2.hndle, .acf-fc-layout-handle {
        background: #222;
        color: #fff !important;
        .acf-hndle-cog {
            color: #fff !important;
        }
    }
    .toggle-indicator {
        color: $gray-300 !important;
    }
}

.acf-fields > .acf-field {
    border-top: solid 1px #bbb;
}

.acf-fields > .acf-tab-wrap .acf-tab-group li.active a {
    background: #EDEFFF;
}

.acf-flexible-content .layout table.acf-table,
.acf-repeater table.acf-table {
    tr td {
        border-bottom: dashed 2px darken(#eeeeee, 20%) !important;
    }
    tr:last-of-type td,
    tr:nth-last-of-type(2) td {
        border-bottom: none !important;
    }
    tr:nth-of-type(odd) td.acf-row-handle { background: darken(#eeeeee, 10%) !important }
    tr:nth-of-type(even) td.acf-row-handle { background: darken(#eeeeee, 5%) !important }
}

.acf-repeater table.acf-table {
    tr td {
        border-bottom: dashed 2px darken(#d7ecfb, 20%) !important;
    }
    tr:nth-of-type(odd) td {
        background: lighten(#d7ecfb, 3%);
    }
    tr:nth-of-type(even) td {
        background: lighten(#d7ecfb, 6%);
    }
}

.acf-flexible-content .layout .pull-left {
    float: left;
}

.acf-field[data-name="strengths"],
.acf-field[data-name="statistics_fields"] {
    ul.acf-checkbox-list {
        columns: 5;
    }
}

.acf-field[data-name="statistics"] {
    .acf-label label {
        font-size: 12px !important;
        line-height: 1.3;
        margin-bottom: 0;
    }
    .acf-field {
        position: relative;
        padding-bottom: 35px;
        .acf-input {
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
            input {
                font-size: 12px;
            }
            .acf-input-append {
                font-size: 10px !important;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}
